@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #fff;
	background-color: #1f2029;
  margin: 0;
  padding: 0;
  overflow-x: none;
}
p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #fff;
  margin: 0;
}
.section-fluid-main{
  position: relative;
  display: block;
  overflow: hidden;
  width: calc(100% - 40px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding: 100px 0;
}
.section-row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.section-row:hover .section-col{
  opacity: 0.1;
}
.section-col{
  position: relative;
  width: 100%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  transition: opacity 250ms linear;
}
.section-row .section-col:hover{
  opacity: 1;
}
.section{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    padding: 15px;
  }
  .section-in{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
  }
  .section-in img{
    display: block;
    width: 100%;
    height: 400px;
    transition: transform 250ms linear;
  }
  .section-col:hover .section-in img{
    transform: scale(1.1) rotate(-3deg);
  }

  .hover-text{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    pointer-events: none;
    display: -webkit-inline-flex;-
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
      -ms-flex-item-align: center;
      align-self: center;
    mix-blend-mode: difference;
  }
  .hover-text h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 8vw;
    line-height: 1;
    color: #fff;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 250ms linear, opacity 250ms ease;
  }
  .section-col:hover + .hover-text h2{
    opacity: 1;
    transform: scale(1);
  }
  @media (max-width: 767px) {
    .section-col{
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .hover-text h2{
      font-size: 12vw;
    }
  }