*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: 'Open sans', sans-serif;
}

body {
  background: linear-gradient(50deg, #f3c680, #a1e3e2);
}