html {
  height: 100%;
}

body {
<<<<<<< HEAD
<<<<<<< HEAD
  
=======
  background: linear-gradient(
    150deg,
    rgba(0, 147, 233, 1),
    rgba(128, 208, 199, 1)
  );
>>>>>>> a8b0b7f... page added
=======
  
>>>>>>> 6d582ad... new
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 6d582ad... new
.moving-image {
  background: url(../img/slider/bg.jpg) repeat fixed;
  background-size: cover;
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  z-index: 0;
  width:100%;
  opacity: 0.4;
}
<<<<<<< HEAD
=======

>>>>>>> a8b0b7f... page added
=======
>>>>>>> 6d582ad... new
.container {
  margin-top: 50px;
  background: rgba(250, 250, 250, 0.3);
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

h2 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

hr {
  border: 1px solid black;
}

.row {
  margin-left: 5px;
  margin-right: 5px;
}

.col {
  padding: 10px;
}

#card {
  border-radius: 5px;
  width: 100%;
  background: rgba(250, 250, 250, 0.7);
  color: black;
  font-size: 50px;
  padding: 15px;
}

#card:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#netbanking {
  border-radius: 5px;
  width: 100%;
  background: rgba(250, 250, 250, 0.7);
  color: black;
  font-size: 50px;
  padding: 15px;
}

#netbanking:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#upi {
  border-radius: 5px;
  width: 100%;
  background: rgba(250, 250, 250, 0.7);
  color: black;
  font-size: 50px;
  padding: 15px;
}

#upi:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#cod {
  border-radius: 5px;
  width: 100%;
  background: rgba(250, 250, 250, 0.7);
  color: black;
  font-size: 50px;
  padding: 15px;
}

#cod:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#method1 .col {
  text-align: left;
}

label {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.form-control:focus {
  box-shadow: none;
}

#method1 .btn {
  width: 100%;
}

#method1 {
  width: 30%;
  display: none;
}

#method2 {
  width: 30%;
  display: none;
}

#method3 {
  width: 30%;
  display: none;
  padding-right: 30px;
  padding-bottom: 25px;
}

.col.error .form-control {
  border: 2px solid red;
}

.col.success .form-control {
  border: 2px solid green;
}

.col small {
  position: absolute;
  visibility: hidden;
}

.col.error small {
  visibility: visible;
  color: red;
}

.col #icici {
  width: 100%;
  height: 50px;
}

.col #hdfc {
  width: 100%;
  height: 50px;
}

.col #sbi {
  width: 100%;
  height: 50px;
}

.col-md-9 {
  text-align: left;
}

.row:nth-child(2) .col-md-9,
.row:nth-child(2) .col-md-3 {
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-md-9.error .form-control {
  border: 2px red solid;
}

.col-md-9.success .form-control {
  border: 2px green solid;
}

.col-md-9 small {
  position: absolute;
  color: red;
  visibility: hidden;
}

.col-md-9.error small {
  visibility: visible;
}
