body{
	cursor: none;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%
}
.cursor{
	background-color: #fff;
	height: 10px;
	width: 10px;
	z-index: 99999;
	box-shadow: 0 0 22px 0 rgba(255,255,255, 0.6);
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	opacity: 0;
	background: rgba(255,255,255,.03);
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2.2) translateX(-25%) translateY(-25%);
	transform:scale(2.2) translateX(-25%) translateY(-25%);
	border:none;
}
.video-cursor .cursor{
	opacity: 0;
}
.logo-cursor .cursor{
	opacity: 0;
}
.logo-cursor .cursor2,
.logo-cursor .cursor3{
	-webkit-transform:scale(2.2) translateX(-25%) translateY(-25%);
	transform:scale(2.2) translateX(-25%) translateY(-25%);
	border:none; 
	opacity: 1;
}
.section{
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
}

.blur-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
	display: block;
	background-size: cover;
	background-position: center;
	background-image: url();
	filter: blur(6px);
}
.blur-img-over{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border: 10px solid #060606;
	z-index: 9;
	display: block;
}

/* Video
================================================== */

.wrap-rel {
	position: relative;
	width: 100%;
	display: block;
}
.video-container {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	z-index: 10;
	display: block;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* #Video wrapper
================================================== */

.video-section {
	position: relative;
	width:100%;
	margin:0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.45);
}
.video-wrapper, figure.vimeo, figure.youtube {
	margin:0;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
	border-radius: 10px;
}	
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}	