/*aligning the background image properly*/
body {
  background: url('../img/room.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  align-content:;
}
