@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
html {
  position: relative;
  overflow-x: hidden !important;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a, a:hover {
  text-decoration: none;
}
.moving-image {
	background: url(../img/slider/bg.jpg) repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	z-index: 0;
	width:100%;
	opacity: 0.4;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.news-slider {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (max-width: 1300px) {
  .news-slider {
    max-width: 1000px;
  }
}
@media screen and (max-width: 576px) {
  .news-slider {
    margin-top: 45px;
  }
}
.news-slider__wrp {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.news-slider__item {
  width: 300px;
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .news-slider__item {
    width: 290px;
  }
}
.news-slider__item.swiper-slide {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  padding: 20px;
}
.news-slider__item.swiper-slide-active, .news-slider__item.swiper-slide-prev, .news-slider__item.swiper-slide-next {
  opacity: 1;
  pointer-events: auto;
}
.news-slider__ctr {
  position: relative;
  z-index: 12;
}
.news-slider__arrow {
  background: #fff;
  border: none;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
}
.news-slider__arrow:focus {
  outline: none !important;
}
.news-slider__arrow .icon-font {
  display: inline-flex;
  color: #303030;
}
.news-slider__arrow.news-slider-prev {
  left: 15px;
  transform: translateY(-50%);
}
.news-slider__arrow.news-slider-next {
  right: 15px;
  transform: translateY(-50%);
}
.news-slider__pagination {
  text-align: center;
  margin-top: 50px;
}
.news-slider__pagination .swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: #fff;
  opacity: .2;
  margin: 0 5px;
  border-radius: 20px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  transition: opacity .5s, background-color .5s, width .5s;
  transition-delay: .5s, .5s, 0s;
}
.news-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
  width: 100px;
  transition-delay: 0s;
}
@media screen and (max-width: 576px) {
  .news-slider__pagination .swiper-pagination-bullet-active {
    width: 70px;
  }
}
.news__item {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  color: #303030;
  border-radius: 10px;
  display: block;
  transition: all .3s;
}
@media screen and (min-width: 800px) {
  .news__item:hover {
    color: #222222;
    transition-delay: .1s;
  }
  .news__item:hover .news-sub, .news__item:hover .news__title, .news__item:hover .news__txt {
    opacity: 1;
    transition-delay: .1s;
  }
}
.news__item.active {
  color: #303030;
}
.news__item.active .news-sub, .news__item.active .news__title, .news__item.active .news__txt {
  opacity: 1;
}
.news-sub {
  margin-top: 4px;
  margin-left: 6px;
  display: inline-block;
  opacity: .7;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  transition: opacity .3s;
}
@media screen and (max-width: 576px) {
  .news-sub {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0;
  }
}
.news-sub__title {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 900;
}
@media screen and (max-width: 576px) {
  .news-sub__title {
    margin-right: 10px;
  }
}
.news-sub__txt {
  font-size: 16px;
}
.news__title {
  font-size: 25px;
  padding: 0 6px;
  font-weight: 500;
  opacity: .7;
  margin-top: 6px;
  margin-bottom: 6px;
  transition: opacity .3s;
}
@media screen and (max-width: 576px) {
  .news__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.news__txt {
  margin: 10px 0;
  padding: 0 6px 8px 6px;
  line-height: 1.6em;
  font-size: 15px;
  opacity: .7;
  transition: opacity .3s;
}
.news__img {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.25);
  height: 200px;
  margin-top: 30px;
  width: 100%;
  transition: all .3s;
  transform-origin: 0% 0%;
}
@media screen and (max-width: 576px) {
  .news__img {
    height: 180px;
    margin-top: 20px;
  }
}
.news__img img {
  max-width: 100%;
  border-radius: 0 0 10px 10px;
  height: 100%;
  width: 100%;
}