@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

:root {
	font-size: 20px;
	--dark-blue: #1f2029;
	--white-gr: #c4c3ca;
	--yellow: #ffeba7;
	--yellow-2: #f8ab37;
}
.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo i {
	height: 26px;
	width: auto;
	display: block;
}
